.home {
  background: white;
  position: absolute;
  /* animation: dot-expand infinite 2s linear; */
  color: white;
  letter-spacing: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30vw;
}

h1 {
  font-size: 36px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 125px auto;
  font-weight: 300;
}

svg,
svg circle {
  fill: #87BDD8;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 6s ease-in-out;

  &.grow {
    transform: scale(5);
    opacity: 1;

  }

  &.shrink {
    transform: scale(0.1);
    opacity: 0.1;
  }

  &.static {
    #Circle1, #Circle2, #Circle3, #Circle4 {
      animation: colorchange infinite 30s linear ;
    }

  }
}

@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#Circle1 {
  animation: from0to360 1s linear infinite, colorchange infinite 30s linear;
  cx: 150;
  cy: 145;
  r: 100;
  transform-origin: 165px 150px;
}

@keyframes from360to0 {
  from{transform:rotate(360deg);  }
  to{transform:rotate(0deg); }
}

#Circle2 {
  animation: from360to0 2s linear infinite, colorchange infinite 30s linear;
  cx: 150;
  cy: 155;
  r: 100;
  transform-origin: 175px 150px;
}

#Circle3 {
  animation: from0to360 3s linear infinite, colorchange infinite 30s linear;
  cx: 145;
  cy: 150;
  r: 100;
  transform-origin: 150px 165px;
}

#Circle4 {
  animation: from360to0 2.5s linear infinite, colorchange infinite 30s linear;
  cx: 155;
  cy: 150;
  r: 100;
  transform-origin: 150px 175px;
}

@keyframes colorchange
    {
      0%   {fill: #ffedb8;}
      10%  {fill: #ffd1b4;}
      20%  {fill: #ffd6ef;}
      30%  {fill: #ffd6ef;}
      40% {fill: #ffedb8;}
      50%   {fill: #b4e4c9;}
      60%  {fill: #a5d9d8;}
      70%  {fill: #a5d9d8;}
      80%  {fill: #dee4eb;}
      90% {fill: #afca8a;}
      100%   {fill: #ffedb8;}
    }

.color-change {
  animation: colorchange infinite 3s, fadeIn 6s infinite;
}

button {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 125px;
  display: block;
  background: #333;
  outline: 0;
  padding: 10px 0px;
  border: 0;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  font-family: Raleway;
  letter-spacing: 4px;
  animation: grow linear 3s;
};