.moods {
  margin-top: 50px;
}
.mood-circle {
  border-radius: 80px;
  width: 80px;
  height: 80px;
  margin: 10px;
  color: white;
  line-height: 80px;
  font-family: "Nunito";
  display: inline-block;
  text-align: center;
}

.mood-detail {
  .tagline {
    font-size: 18px;
    text-align: left;
  }

  .encouragement {
    color: #BED9CD;
  }

  img {
    height: 60px;
    width: 60px;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin: 25px;
    align-items: center;


    &.header {
      border-bottom: 3px solid #F7B79C;
      padding: 35px 10px;
    }
  }

  .column {
    flex-direction: column;
    align-items: center;
    &.right {
      text-align: left;
      padding-left: 10px;
      p {
        margin: 0;
      }
    }
    &.left {
      text-align: right;
    }
  }
  .tip-row {
    padding: 15px 10px;
  }
}